In [181]:
import pandas as pd
import datetime

In [182]:
file = pd.read_csv('bigdata_1.csv',delimiter=';')

In [183]:
file.info()
length=file.loc[:,'playerId'].count()
print(length)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19370 entries, 0 to 19369
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    19370 non-null  object
 1   playerId                19370 non-null  object
 2   realWorldCurrencySpent  19370 non-null  int64
 3   ingameProductId         19370 non-null  object
 4   euroPrice               19365 non-null  float64
 5   purchaseCount           19370 non-null  int64
 6   matchWin                19370 non-null  int64
 7   matchCount              19370 non-null  int64
 8   mmr                     19370 non-null  int64
 9   accountAgeDays          19370 non-null  int64
 10  appActiveTime           19370 non-null  int64
 11  avgBill                 18560 non-null  float64
dtypes: float64(2), int64(7), object(3)
memory usage: 1.8+ MB
19370

In [184]:
file['date']=pd.to_datetime(file['date'])

In [185]:
number_of_users = file['playerId'].nunique()
print(number_of_users) 
n = 19370

13457

Количество пользователей за данный период времени

In [186]:
file.isnull().sum()

date                        0
playerId                    0
realWorldCurrencySpent      0
ingameProductId             0
euroPrice                   5
purchaseCount               0
matchWin                    0
matchCount                  0
mmr                         0
accountAgeDays              0
appActiveTime               0
avgBill                   810
dtype: int64

проверка на NaN

In [187]:
file.sort_values(by = 'mmr')

,date,playerId,realWorldCurrencySpent,ingameProductId,euroPrice,purchaseCount,matchWin,matchCount,mmr,accountAgeDays,appActiveTime,avgBill
16996,2019-04-02,fc55f4ab-3a1b-4155-96ba-d4887bb56219,109,SoftСurrency_RealPrice_1,1.09,1,0,0,0,0,174,109.0
7084,2019-02-15,b2c2553a-ec80-44e3-af1f-3e9786c9a5ea,109,SoftСurrency_RealPrice_1,1.09,1,0,0,0,0,163,109.0
1760,2019-07-02,801c2b61-8cf7-4357-bedb-2805380ed75b,109,SoftСurrency_RealPrice_1,1.09,1,0,0,0,0,80,109.0
7147,2019-02-15,3c23c396-cf93-47fa-9d55-37b3392937e1,109,SoftСurrency_RealPrice_1,1.09,1,0,0,0,0,151,109.0
10345,2019-02-13,f5fe8411-ce5a-4cb4-a76d-bbf113666390,109,SoftСurrency_RealPrice_1,1.09,1,0,0,0,0,145,109.0
...,...,...,...,...,...,...,...,...,...,...,...,...
16313,2019-09-02,968befe4-6417-4554-be86-4aef8110d0fa,355119,PP_EliteBattlePass,5.49,261,11219,11732,9999,723,1440206,1360.0
155,2019-02-02,f97d2019-148f-4d26-82ff-79264c3fe1bf,81341,HardСurrency_1,3.49,149,8075,10107,9999,699,6451047,545.0
3194,2019-01-02,c44d1dd6-c39e-43b0-b6ae-e13b58edafef,18731,PP_ClubPass,4.49,29,5479,7965,9999,567,213843,NaN
1488,2019-02-15,0f5dfbf4-62cc-4ef0-a727-82bd9e56b4f6,393486,HardСurrency_1,3.49,254,9624,12682,9999,604,1828346,1549.0
10821,2019-08-02,4de1a1f2-5b6e-427c-9422-7c9afa64aa7d,16031,PP_ClubPass,4.49,19,8910,13492,9999,723,269485,843.0

In [188]:
print(file[file['mmr'] == 9999]['mmr'].count())

74

количество игроков с максимальным рейтингом

In [189]:
file.groupby('ingameProductId').count()

,date,playerId,realWorldCurrencySpent,euroPrice,purchaseCount,matchWin,matchCount,mmr,accountAgeDays,appActiveTime,avgBill
ingameProductId,,,,,,,,,,,
HardСurrency_1,2939,2939,2939,2939,2939,2939,2939,2939,2939,2939,2810
PP_ClubPass,3786,3786,3786,3784,3786,3786,3786,3786,3786,3786,3617
PP_EliteBattlePass,9519,9519,9519,9519,9519,9519,9519,9519,9519,9519,9111
SoftСurrency_RealPrice_1,3126,3126,3126,3123,3126,3126,3126,3126,3126,3126,3022

самый популярный продукт - PP_EliteBattlePass и его приобрело около 70% игроков

In [190]:
file.groupby('avgBill').count()

,date,playerId,realWorldCurrencySpent,ingameProductId,euroPrice,purchaseCount,matchWin,matchCount,mmr,accountAgeDays,appActiveTime
avgBill,,,,,,,,,,,
0.0,3,3,3,3,3,3,3,3,3,3,3
109.0,950,950,950,950,950,950,950,950,950,950,950
139.0,2,2,2,2,2,2,2,2,2,2,2
145.0,1,1,1,1,1,1,1,1,1,1,1
149.0,15,15,15,15,15,15,15,15,15,15,15
...,...,...,...,...,...,...,...,...,...,...,...
7175.0,1,1,1,1,1,1,1,1,1,1,1
7180.0,1,1,1,1,1,1,1,1,1,1,1
11602.0,1,1,1,1,1,1,1,1,1,1,1
49038.0,1,1,1,1,1,1,1,1,1,1,1
87800.0,1,1,1,1,1,1,1,1,1,1,1

в данной таблице средний платеж за одну транзакцию и количество игроков

In [191]:
file.groupby('avgBill').mean()

,realWorldCurrencySpent,euroPrice,purchaseCount,matchWin,matchCount,mmr,accountAgeDays,appActiveTime
avgBill,,,,,,,,
0.0,0.000000e+00,5.156667,0.000000,29.000000,34.000000,2028.333333,14.666667,1.994000e+05
109.0,1.257516e+02,1.090000,1.153684,36.336842,55.585263,776.023158,36.408421,1.143414e+04
139.0,8.340000e+02,1.090000,6.000000,45.000000,62.500000,2555.000000,103.000000,2.960350e+04
145.0,1.897000e+03,1.090000,13.000000,601.000000,1171.000000,5055.000000,60.000000,4.296350e+05
149.0,5.364000e+02,1.090000,3.600000,76.066667,126.466667,2239.000000,64.466667,5.104693e+04
...,...,...,...,...,...,...,...,...
7175.0,7.175000e+04,5.490000,10.000000,457.000000,780.000000,5947.000000,33.000000,2.914500e+05
7180.0,2.656630e+05,5.490000,37.000000,2614.000000,4758.000000,7531.000000,618.000000,1.677751e+06
11602.0,2.516530e+05,5.490000,157.000000,2873.000000,4836.000000,6970.000000,737.000000,1.927659e+06
49038.0,3.996620e+07,5.490000,815.000000,1542.000000,2052.000000,7271.000000,257.000000,1.015420e+05
87800.0,8.253600e+06,1.090000,94.000000,10371.000000,15514.000000,7488.000000,262.000000,6.717979e+06

можно заметить, что игроки, которые ничего не купили имею более высоки рейтинг, чем те, которые делали покупки. также они суммарно проводят больше времени в день. Те, кто совершают покупки, проводят заходят в игру дольше

In [192]:
file.groupby('mmr').mean()

,realWorldCurrencySpent,euroPrice,purchaseCount,matchWin,matchCount,accountAgeDays,appActiveTime,avgBill
mmr,,,,,,,,
0,158.798131,1.321776,1.127103,0.000000,0.005607,3.943925,2.068692e+02,131.984820
100,552.114894,2.876383,1.629787,1.000000,1.042553,8.102128,7.279574e+02,298.230435
200,469.254144,3.031436,1.519337,2.000000,2.088398,24.419890,1.319077e+03,292.017045
300,1221.722807,4.775614,2.382456,3.000000,3.017544,30.961404,1.965786e+03,459.489130
357,109.000000,1.090000,1.000000,4.000000,4.000000,741.000000,1.730000e+02,109.000000
...,...,...,...,...,...,...,...,...
9995,281740.000000,5.490000,166.666667,6506.000000,8872.333333,712.000000,4.753807e+05,1480.333333
9996,83980.000000,4.490000,100.000000,21718.000000,27704.000000,716.000000,1.481152e+06,804.500000
9997,19668.000000,5.490000,32.000000,9685.000000,12302.000000,580.000000,2.073823e+06,614.000000
9998,196830.000000,4.490000,160.000000,9969.000000,12144.000000,727.000000,7.734842e+06,1230.000000
9999,214780.729730,4.808919,141.432432,9803.621622,12738.391892,574.608108,2.275702e+06,1225.301370

можно заметить, что чем больше было игрок проводит времени в приложении, то больше он тратит

In [193]:
file.groupby('realWorldCurrencySpent').mean()

,euroPrice,purchaseCount,matchWin,matchCount,mmr,accountAgeDays,appActiveTime,avgBill
realWorldCurrencySpent,,,,,,,,
0,4.99,0.0,117.500000,192.000000,2906.500000,14.250000,1.497770e+05,0.0
109,1.09,1.0,33.064103,50.418415,603.618881,29.236597,7.567265e+03,109.0
218,1.09,2.0,57.517647,90.541176,1833.458824,56.364706,4.184862e+04,109.0
327,1.09,3.0,56.875000,80.500000,2861.375000,152.750000,3.306175e+04,109.0
338,1.09,2.0,19.175000,26.100000,1127.875000,39.375000,1.241580e+04,169.0
...,...,...,...,...,...,...,...,...
4078737,3.49,863.0,7369.000000,10455.000000,8283.000000,263.000000,1.548540e+05,4726.0
4095129,5.49,871.0,7375.000000,10461.000000,8367.000000,267.000000,7.035900e+04,4701.0
4191875,5.49,895.0,5949.000000,8580.000000,8288.000000,300.000000,4.460598e+06,4683.0
8253600,1.09,94.0,10371.000000,15514.000000,7488.000000,262.000000,6.717979e+06,87800.0
39966195,5.49,815.0,1542.000000,2052.000000,7271.000000,257.000000,1.015420e+05,49038.0

In [194]:
file['matchWin'].sum()/file['matchCount'].sum()*100

62.94911982976195

средний процент победы в матчах для всех игроков. если проанализировать этот процент для тех кто совершает покупки и тех кто этого не делает, то он будет выше для первой категории